html{
	background-color: white;
}
.menu {
	height: 150px;
	width: 100%;
	border: 3px solid;
	background-color: rgba(255, 255, 255, 0.5);
	color: white;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: Impact;
	font-size: 60px;
	text-align: center;
	background:linear-gradient(60deg, #FAFAFA 150px,#190707 180px, #FF0000);}
}
.cuadrotexto{
	width: 100%;
	border: 3px solid;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	font-family: Arial;
	font-size: 70%;	
	text-align: center;
}
.cuadro-central {
	height: 80%;
	width: 70%;
	border: 0px solid;
	margin: auto;
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 15px;
	border-style: ridge;
	border-width: 10px;
	float: left;
	padding-left: 15px;
	background-color: #352E2E;
	padding-bottom: 5%;
}
.mapa{
	display:block;
	margin:auto;
}
p {
	font-size: 150%;
	font-family: arial;
	text-align: center;
	color: white;
}
h1 {
	color: white;
}
.Login{
	font-size: 50%;
	float: right;
	padding-right: 20px;
}
form{
	border-style: ridge;
	border-width: 10px;
}
.inicia_sesion{
	font-size: 400%;
}
.global{
	width: 100%;
	padding: 3px
	padding-left: 20px;
}
.filtro {
	background-color: #352E2E;
	position: absolute;
	float: left;
	width: 87%;
	height: 90%;
	border-width: 10px;
	border-style: ridge;
	padding-left: 0px;
}
.total_recursos {
	width: 80%;
	padding-left: 100px;
	padding: 65px;
	padding-top: 20px;
}
.filtronuevo {
	width: 200px;
	height: 200px;
	padding-left: 100px;
	padding: 65px;
	float: left;
}
.filtrando {
	float: left;
	width: 300%;
	height: 70%;
	padding: 60%;
	border-width: 10px;
	border-style: ridge;
	margin-left: 150%;
	margin-top: -54%
}
.filtrando p {
	margin-top: 0%;
}